*,body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    background-color: rgb(23, 20, 50);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    text-align: center;
}

li{
    float: left;
}

li a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}

li a:hover:not(.active){
    background-color: rgb(17, 15, 42); 
    
}

.active{
    background-color: blue;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 20px;
}

select {
    width: 100%;
    height: 30px;
}

input[type="submit"] {
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    padding: 300px; /* Erhöhen Sie den Platz um die Elemente im grauen Feld */
}

.form-group div {
    flex: 1;
    max-width: calc(33% - 30px); /* Erhöhen Sie die Breite ein wenig, um mehr Platz für das Auswahlfeld zu lassen */
    box-sizing: border-box;
    padding: 15px; /* Erhöhen Sie die Polsterung um die Elemente */
    margin: 30px; /* Erhöhen Sie den Rand um die Elemente, um den Abstand zu erhöhen */
}

.form-group select {
    width: 100%; /* Stellen Sie sicher, dass das Auswahlfeld die volle Breite des div einnimmt */
    font-size: 1.2em; /* Vergrößern Sie die Schriftgröße der Optionen */
    padding: 10px; /* Fügen Sie etwas Polsterung hinzu, um das Auswahlfeld größer zu machen */
    height: 50px; /* Machen Sie das Auswahlfeld länger */
}
/* Navigation */
